@page "/wizarddemo"
<Wizard Id="DemoWizard">
    <WizardStep Name="First Step">
        <div class="row">
           <p>This is the first step. You can enter something useful in here.</p>
        </div>
    </WizardStep>
    <WizardStep Name="Second Step">
        <div class="row">
            <p>Wow, you've reached the second step!</p>
        </div>
    </WizardStep>
    <WizardStep Name="Final Step">
        <div class="row">
      <p>The final step has been reached. Thank you \o/</p>
        </div>
    </WizardStep>
</Wizard>